doctype html
html(lang="es")
	head
		meta(name="charset", charset="UTF-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name='viewport', content='user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width')
		meta(name="title", content="")
		meta(name="description", content="")
		meta(name="keywords", content="")
		meta(name="robots", content="index, follow")
		meta(name="author", content="http://www.lava.mx")
		meta(name="distribution", content="global")
		meta(name="rating" content="general")
		meta(name="revisit-after" content="14 Days")
		title
		link(rel="stylesheet", href="//use.fontawesome.com/releases/v5.0.13/css/all.css", integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp", crossorigin="anonymous")
		link(rel="stylesheet", href="assets/vendor.css")
		link(rel="stylesheet", href="assets/main.css")
		link(rel="icon", type="image/png", href="favicon.png")

		script(src="assets/vendor.js")
		script(src="assets/main.js")
	body
		include parts/header.pug
		
		.Product-brands
			.container-fluid
				.row.filter-product
					.col-sm-10.col-sm-offset-1
						form(action="")
							.row.form-group
								.col-xs-6.col-md-3.item
									label MARCA
									select(name="").form-control
										option(value="") 2019
										option(value="") 2018
								.col-xs-6.col-md-3.item
									label MODELO
									select(name="").form-control
										option(value="") 2019
										option(value="") 2018
								.col-xs-6.col-md-3.item
									label VERSIÓN
									select(name="").form-control
										option(value="") 2019
										option(value="") 2018
								.col-xs-6.col-md-3.item
									label AÑO
									select(name="").form-control
										option(value="") 2019
										option(value="") 2018
			.container
				.row
					.col-md-10.col-md-offset-1.my-5
						span.breadcrumbs
							a(href="product.html") AUTOS NUEVOS 
							| / 
							a(href="product-brands.html")
								b MARCA
				.row
					.col-md-10.col-md-offset-1
						h2.title-default Marcas
				.row
					.col-md-10.col-md-offset-1.content
						a(href="product.html")
							img(src="assets/img/autojal-logo-audi.png", alt="Autojal").img-responsive
						a(href="product.html")
							img(src="assets/img/autojal-logo-bmw.png", alt="Autojal").img-responsive
						a(href="product.html")
							img(src="assets/img/autojal-logo-chevrolet.png", alt="Autojal").img-responsive
						a(href="product.html")
							img(src="assets/img/autojal-logo-honda.png", alt="Autojal").img-responsive
						a(href="product.html")
							img(src="assets/img/autojal-logo-ford.png", alt="Autojal").img-responsive
						a(href="product.html")
							img(src="assets/img/autojal-logo-hyundai.png", alt="Autojal").img-responsive
						a(href="product.html")
							img(src="assets/img/autojal-logo-jeep.png", alt="Autojal").img-responsive
						a(href="product.html")
							img(src="assets/img/autojal-logo-kia.png", alt="Autojal").img-responsive
						a(href="product.html")
							img(src="assets/img/autojal-logo-mazda.png", alt="Autojal").img-responsive
						a(href="product.html")
							img(src="assets/img/autojal-logo-mitsubishi.png", alt="Autojal").img-responsive
						a(href="product.html")
							img(src="assets/img/autojal-logo-nissan.png", alt="Autojal").img-responsive
						a(href="product.html")
							img(src="assets/img/autojal-logo-renault.png", alt="Autojal").img-responsive
						a(href="product.html")
							img(src="assets/img/autojal-logo-seat.png", alt="Autojal").img-responsive
						a(href="product.html")
							img(src="assets/img/autojal-logo-suzuki.png", alt="Autojal").img-responsive
						a(href="product.html")
							img(src="assets/img/autojal-logo-toyota.png", alt="Autojal").img-responsive
						a(href="product.html")
							img(src="assets/img/autojal-logo-volkswagen.png", alt="Autojal").img-responsive
		include parts/footer.pug
