.Header
	padding 20px 0
	border-bottom 3px solid $black
	background-color $white
	li
		&:nth-child(8)
			border-right 1px solid $black
		a
			color $black
			display block
			font-size 0.9em
			text-decoration none
		&:nth-child(1)
			@media only screen and (max-width 992px)
				display block
				margin 10px 0
	.header-mobil
		display none
		@media only screen and (max-width 768px)
			display block
			padding 10px
		.open-menu
			position absolute
			top 10px
			right 10px
			font-size 1.5em
			color $red
	ul.desktop
		@media only screen and (max-width 768px)
			display none
	ul.mobil
		display none
		list-style none
		text-align left
		margin 0
		padding-left 10px
		li
			margin 10px 0 !important
			&:nth-child(8)
				border-right transparent

.Header-home
	background-color transparent
	border-bottom 3px solid transparent
	position absolute
	top 0
	left 0
	right 0
	z-index 9
	li
		&:nth-child(8)
			border-right 1px solid $white
		&:last-child img
			filter invert(100%) sepia(1%) saturate(7465%) hue-rotate(289deg) brightness(110%) contrast(109%)
		a
			color $white
	@media only screen and (max-width 768px)
		display none

.fixed
	position fixed
	top 0
	left 0
	right 0
	z-index 999
	animation-name animateBanner
	animation-duration 1s

@keyframes animateBanner
	from
		opacity 0
	to
		opacity 1
