$desktop_size = 1024px
$tablet_size = 768px
$phone_size = 320px

//Colors
$black = #000
$white = #fff
$red = #ed2123

@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700&display=swap')
@import "b4.styl"
@import "Header/style.styl"
@import "Content/style.styl"
@import "Footer/style.styl"

body
	background white
	font-size 16px
	font-family 'Montserrat', sans-serif

h1
	font-size 1.5em
h2
	font-size 1.4em
h3
	font-size 1.3em
h4
	font-size 1.2em
h5
	font-size 1.1em
p
	font-size 1em
a
	&:hover
		text-decoration none !important

label
	color $red
input, textarea
	border 1px solid rgba($black, 0.8) !important

.btn
	&-default
		background-color $red !important
		border-color $red !important
		color $white !important
		&:hover
			background-color rgba($red, 0.8) !important
			color $white !important

.title-default
	color $black
	border-bottom 2px solid $red
	padding-bottom 15px

.owl-nav
	position absolute
	top 50%
	width 100%
	i
		font-size 1em
		color $black
	.owl-prev, .owl-next
		position absolute
		&:hover
			background-color transparent !important
			color $black
	.owl-prev
		right 100%
	.owl-next
		left 100%

.sp-buttons
	position absolute !important
	bottom 0
	.sp-selected-button
		background-color #7b7b7b !important
	.sp-button
		background-color $white
		border-color transparent

.notify
	padding 0.8em
	margin-bottom 1em
	border 2px solid #ddd

	&.success
		background #e6efc2
		color #264409
		border-color #c6d880

	&.error, &.alert
		background #fbe3e4
		color #8a1f11
		border-color #fbc2c4

	&.notice, &.warning
		background #fff6bf
		color #514721
		border-color #ffd324

	&.info
		background #d5edf8
		color #205791
		border-color #92cae4
