footer.container-fluid
  .row.top
    img(src="assets/img/autojal-footer-logo.png", alt="Autojal")
    .col-sm-12
      a(href="mailto:contacto@grupoautojal.com.mx")
        i.far.fa-envelope
        | contacto@grupoautojal.com.mx
      a(href="tel:(33) 1605 6756")
        i.fas.fa-phone
        | (33) 1605 6756
      a(href="https://www.facebook.com/AutoJal-315051895768295/" target="_blank").mr-3
        i.fab.fa-facebook-square
    .col-sm-12.mt-3
      a(href="https://goo.gl/maps/Sb76R7P3RbmpUmpz5" target="_blank")
        i.fas.fa-map-marker-alt
        b Morelos 1520, Americana, Guadalajara, Jalisco CP.44600
  .row.bottom
    .col-sm-12
      a(href="#") Aviso de privacidad
      a(href="#") Términos y condiciones
