header.Header
	.container-fluid
		.row
			.col-sm-12.text-center
				ul.list-inline.desktop
					li
						a.d-block(href="/")
							img(src="assets/img/autojal-logo.png", alt="Autojal")
					li
						a(href="about.html", class=section == 'index' ? 'active' : '') NOSOTROS
					li
						a(href="product.html") AUTOS NUEVOS
					li
						a(href="product.html") AUTO SEMINUEVOS
					li
						a(href="product.html") AUTO DEMO
					li
						a(href="blog.html") NOTICIAS
					li
						a(href="contact.html") CONTACTO
					li
						a(href="#")
							i.fas.fa-search
					li
						a(href="account.html")
							img(src="assets/img/autojal-llave-icono.png", alt="Autojal")
				.header-mobil
					a.d-block(href="/")
						img(src="assets/img/autojal-logo.png", alt="Autojal").img-responsive
					a(href="#", target="_blank").open-menu
						i.fas.fa-bars
				ul.mobil
					li
						a(href="about.html") NOSOTROS
					li
						a(href="product-brands.html") AUTOS NUEVOS
					li
						a(href="product.html") AUTO SEMINUEVOS
					li
						a(href="product.html") AUTO DEMO
					li
						a(href="blog.html") NOTICIAS
					li
						a(href="contact.html") CONTACTO
					li
						a(href="#")
							i.fas.fa-search
					li
						a(href="account.html")
							img(src="assets/img/autojal-llave-icono.png", alt="Autojal")
					
