footer
  text-align center
  position relative
  a
    color $white
    margin 0 10px
    &:hover
      color $white
    i
      margin-right 1rem
    @media only screen and (max-width 768px)
      display block
      margin 5px 0
  img
    position absolute
    top 0
    left 0
    width 340px
    @media only screen and (max-width 768px)
      display none
  .top
    background-color #464646
    padding 50px 0
  .bottom
    background-color #363636
    padding 10px 0
